@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

@import "tailwindcss";

@theme {
  --font-Hat: "Red Hat Text", sans-serif;
  
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);
}

@layer components {
  .product {
    @apply flex flex-col gap-8;
  }
  .product-img {
    @apply max-w-full rounded-xl border-3 border-transparent transition ease-out duration-300;
  }
  .cart {
    @apply h-10 w-36 flex items-center justify-center gap-3 bg-rose-50 mx-auto -m-5 rounded-3xl border border-rose-500 cursor-pointer relative z-10 hover:text-red hover:border-red focus:outline-red focus:outline-offset-3 transition-all duration-300;
  }
  .counter {
    @apply  h-10 w-36 items-center justify-between bg-red text-white mx-auto -m-5 px-4 rounded-3xl relative z-10 focus:outline-red focus:outline-offset-3 transition-all duration-300 hidden;
  }
  .minus {
    @apply rounded-full border border-white p-1 cursor-pointer hover:text-red hover:bg-white focus:outline-transparent transition duration-300;
  }
  .plus {
    @apply rounded-full border border-white p-1 cursor-pointer hover:text-red hover:bg-white focus:outline-transparent transition duration-300;
  }
  .product-name {
    @apply text-rose-500;
  }
  .description {
    @apply text-lg font-[600];
  }
  .price {
    @apply text-red font-bold;
  }
}

html,
body {
  overflow-x: hidden;
}